#contact iframe
{
    width: 100%;
}
.travel_mainDiv img
{
    width: 70%;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: darkgoldenrod;
}
.book
{
    margin-bottom: 20px;
}
.img_libros
{
    width: 50%;
}
#contact iframe
{
    width: 100%;
}